.approach {
  margin-left: 9%;
  margin-right: 12%;
  padding-top: 2%;
  margin-top: 3%;
  display: flex;
  font-family: "Arimo", sans-serif;
}

.approachHeading h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

.approachHeading {
  min-width: 50%;
  padding-top: 2%;
  margin-left: 1%;
  margin-right: 5%;
}

.approachExplanation {
  min-width: 50%;
  margin-right: 5%;
}

.approachExplanation p {
  color: grey;
  font-size: larger;
  text-align: left;
}

.astrikImage img {
  height: 80px;
  position: relative;
  right: 50px;
}

.approachRow {
  display: flex;
  margin-left: 10%;
  margin-right: 12%;
  padding-top: 2%;
  display: flex;
  font-family: "Arimo", sans-serif;
  justify-content: center;
  gap: 20px;
}

.approachSubHeading h1 {
  font-size: 2.25rem;
  font-weight: lighter;
  font-family: "Arimo", sans-serif;
  margin-top: 10%;
  margin-left: 10%;
}

.approachBlock {
  background-color: rgb(230, 228, 228);
  min-width: 33%;
  max-width: 33%;
  min-height: 350px;
  border-radius: 15px;
  overflow: hidden;

  /* Hide content that exceeds the block */
}

.approachDescription p {
  font-size: 1.05rem;
  margin-top: 10%;
  margin-left: 10%;
  color: grey;
  padding-left: 2%;
}

.approachPic {
  min-width: fit-content;
  margin-left: 50px;
  margin-top: 25px;
  padding-right: 10%;
  min-width: 250px;
  position: relative;
  right: 11%;
}

.approachPic img {
  height: 250px;
  margin-right: 10px;
}
