.approach {
  margin-left: 9%;
  margin-right: 12%;
  padding-top: 2%;
  margin-top: 3%;
  display: flex;
  font-family: "Arimo", sans-serif;
}

.approachHeading h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

.approachHeading {
  min-width: 50%;
  padding-top: 2%;
  margin-left: 1%;
  margin-right: 5%;
  padding-bottom: 5rem;
}

.approachExplanation {
  min-width: 50%;
  margin-right: 5%;
}

.approachExplanation p {
  color: grey;
  font-size: larger;
  text-align: left;
}

.astrikImage img {
  height: 80px;
  position: relative;
  right: 50px;
}

.approachRow {
  display: flex;
  margin-left: 10%;
  margin-right: 12%;
  padding-top: 2%;
  display: flex;
  font-family: "Arimo", sans-serif;
  justify-content: center;
  gap: 20px;
  padding-bottom:10rem;
}

.approachSubHeading h1 {
  font-size: 2.25rem;
  font-weight: lighter;
  font-family: "Arimo", sans-serif;
  margin-top: 10%;
  margin-left: 10%;
}

.approachBlock {
  overflow: hidden;
  border-radius: 2px;
  
  box-shadow: 0 4px 8px 0 rgb(6, 6, 6); 
  background-color: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 

}
.approachBlock:hover {
  box-shadow: 0 8px 16px 0 orange; 
  transform: scale(1.05); 

  
}
.approachBlock {
  background-color: rgb(230, 228, 228);
  min-width: 33%;
  max-width: 33%;
  min-height: 350px;
  border-radius: 15px;
  justify-content: space-evenly;

}

.approachDescription p {
  font-size: 1.05rem;
  margin-top: 5%;
  margin-left: 10%;
  color: grey;
  padding-bottom: 2rem;
}

.approachPic {
  min-width: fit-content;
  object-fit: cover;
  
}

.approachPic img {
  height: 250px;
  width:100%;
  
}
