.hopeheading {
  font-size: 3.5rem;
  font-weight: bold;
}

.hope4all {
  margin-left: 9%;
  margin-right: 12%;
  padding-top: 2%;
  display: flex;
  font-family: "Arimo", sans-serif;
}

.hopedescribe {
  color: grey;
  font-size: larger;
  text-align: left;
}

.headingContainer {
  min-width: 50%;
  padding-top: 2%;
  margin-left: 1%;
  margin-right: 5%;
}

.descriptionContainer {
  min-width: 50%;
  margin-right: 5%;
}

.featuresRow {
  margin-left: 10%;
  margin-right: 12%;
  padding-top: 2%;
  display: flex;
  font-family: "Arimo", sans-serif;
  justify-content: center;
  gap: 20px;
}

.arrow {
  margin-left: 50%;
}

.featureHeading h1 {
  font-size: 2rem;
  font-weight: bold;
  color: orange;
  font-family: "Arimo", sans-serif;
  margin-top: 10%;
  margin-left: 10%;
}
.featureBlock {
  background-color: rgb(230, 228, 228);
  min-width: 33%;
  max-width: 33%;
  min-height: 350px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(15, 15, 15); /* Add orange box shadow */
  background-color: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.featureBlock:hover {
  box-shadow: 0 8px 16px 0 orange; /* Increase shadow on hover */
  transform: scale(1.05); /* Add scale effect on hover */
}

.featureDescription p {
  font-size: 1.05rem;
  margin-top: 10%;
  margin-left: 10%;
  color: grey;
  padding-left: 2%;
}

.featurePic {
  min-width: fit-content;
  margin-left: 50px;
  margin-top: 25px;
}

.featurePic img {
  height: 90px;
}
